 @use "../abstracts/" as *;
 
* {
    height: fit-content;
}

body {
    @include responsive(padding, (xs: $spd $spd, sm: $spd $mpd));
}

header {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}

section:not(:last-of-type) {
    @include responsive(margin-bottom, (xs: $spd))
}