@use "../abstracts/" as *;

h5 {
    display: block;
    margin-bottom: $xspd;
}

input {
    background: none;
    caret-color: transparent;
}

div:has(input:focus) > .input__wrapper {
    @extend %field_focus;
}

input[type="text"], .input__wrapper {
    display: block;
    @include responsive(font-size, (xs:$xsfnts, md: $sfnts));
    margin-left: $spd;
    position: relative;
    height:fit-content;
    max-width:calc(100% - $spd);

}

input[type="radio"] {
    position: relative;
    appearance: none;
    background-color: $bg-prim;
    border: $dblborder $accentprim;
    height:20px;
    width: 20px;
    margin-right: $xspd;
    box-shadow: $glow $glow-color;
    @extend %button_focus;

    &:checked {
        background: repeating-linear-gradient(0, rgba($accentprim, .9) 0 1px, $bg-prim  2px 2px);
    }

    &.--warn {
        border: $dblborder $warn--accentprim;
        box-shadow: $glow $warn--glow-color;
    }

    &.--danger {
        border: $dblborder $danger--accentprim;
        box-shadow: $glow $danger--glow-color;
    }

}

fieldset {
    display: flex;
    justify-content: start;
    gap: $spd;  
}