@use "../abstracts/" as *;

:root {
    --anim-time: 500ms;
    --anim-delay: 250ms;
}

$blur: 4px;

@keyframes openModal {
    0% {
        height: 0;
        width:0;
        padding: 0;
        border:none;
    }

    100% {
        @include responsive(height, (xs: 90%, sm: 500px, md: 500px));
        @include responsive(width, (xs:300px, sm: 500px, md: 800px));
        @include responsive(padding, (xs: $xspd, sm: $spd));
        border: $dblborder;
    }
}

.overlay {
    inset: 0 0 0 50%;
    transform: translate(-50%, 0);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100vw;
    background-color: rgba($accentsec, .6);
    transition: width $anim_fluid;
    backdrop-filter: blur($blur);

    &__modal {
        @include responsive(height, (xs: 90%, sm: 95%, md: 95%));
        @include responsive(width, (xs:300px, sm: 500px, md: 800px));
        @include responsive(padding, (xs: $xspd, sm: $spd));
        overflow-y:auto;
        opacity: 1;
        background-color: $bg-prim;
        border: $dblborder;
        transition: width, height, padding, $anim_fluid;
        scrollbar-width: none;

        &.--hidden {
            height: 0;
            width: 0;
            padding: 0;
            border: none;
        }
    }

    .modal__header {
        display: flex;
        row-gap: $lpd;
        justify-content:space-between;
        margin-bottom: $mpd;

        & #modal__exit {
            display: block;
            flex: 0 0 2ch;
            justify-self:center;
        }
    }

    .modal__section {
        h5 {
            margin-bottom: $xspd;
        }

        &:not(:last-of-type) {
            margin-bottom: $xspd;
        }

        &:last-of-type li:last-child::after {
            @extend %consoletext;
        }
    }

    &.--hidden {
        @extend .overlay;
        transition: width $anim_fluid;
        width:0;

        & .overlay__modal {
            width:0;
            height: 0;
            padding: 0;
            border:none;

            & *, u {
                display: none;
                color: transparent;
                text-shadow: none;
            }
        }

    }

    &.--opening {
        @extend .overlay;

        & .overlay__modal {
            transition: width, height, padding, $anim_fluid var(--anim-delay);
        }
    }

    &.--closing {
        @extend .overlay;
        transition: width, $anim_fluid var(--anim-delay);

        & .overlay__modal {
            width:0;
            height: 0;
            padding: 0;

            & *, u {
                display: none;
                color: transparent;
                text-shadow: none;
            }
        }
    }
}

