@use "../abstracts/" as *;

:root {
    --anim-time: 500ms;
    --anim-delay: 250ms;
}

$blur: 4px;
$obscure: 12px;
$rollerShadow: 0px 0px 64px;

@keyframes openModal {
    0% {
        height: 0;
        width:0;
        padding: 0;
        border:none;
    }

    100% {
        @include responsive(height, (xs: 90%, sm: 500px, md: 500px));
        @include responsive(width, (xs:300px, sm: 500px, md: 800px));
        @include responsive(padding, (xs: $xspd, sm: $spd));
        border: $dblborder $accentprim;
    }
}

.overlay {
    inset: 0 0 0 50%;
    transform: translate(-50%, 0);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:calc(100vw);
    background-color: rgba($accentsec, .6);
    transition: width $anim_fluid;
    backdrop-filter: blur($blur);

    &__modal {
        @include responsive(height, (xs: 90%, sm: 95%, md: 95%, xl: 60%));
        @include responsive(width, (xs:320px, sm: 500px, md: 800px));
        @include responsive(padding, (xs: $xspd, sm: $spd));
        overflow-y:auto;
        opacity: 1;
        background-color: $bg-prim;
        border: $dblborder $accentprim;
        transition: width, height, padding, $anim_fluid;
        scrollbar-width: none;

        &.--hidden {
            height: 0;
            width: 0;
            padding: 0;
            border: none;
        }
    }

    .modal__header {
        display: flex;
        row-gap: $lpd;
        justify-content:space-between;
        margin-bottom: $spd;

        & #modal__exit {
            display: block;
            flex: 0 0 2ch;
            justify-self:center;
        }
    }

    .modal__body {

        pre {
            cursor:default;
            user-select: none;
        }
        
        &.--center {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .modal__section {
        h5 {
            margin-bottom: $xspd;
        }

        &:not(:last-of-type) {
            margin-bottom: $xspd;
        }

        &:last-of-type li:last-child::after {
            @extend %consoletext;
        }
    }

    .modal__form {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .modal__input:not(:last-child) {
        margin-bottom: $mpd;
    }
    
    .modal__button {
        width: fit-content;
        align-self:center;
        margin-top:$mpd;
        justify-self:end;
    }

    &.--hidden {
        @extend .overlay;
        transition: width $anim_fluid;
        width:0;

        & .overlay__modal {
            width:0;
            height: 0;
            padding: 0;
            border:none;

            & *, u {
                display: none;
                color: transparent;
                text-shadow: none;
            }
        }

    }

    &.--obscure {
        background-color: rgba($accentsec, 1);
        transition: none;

        &::after {
            content:"";
            pointer-events:none;
            position: absolute;
            box-shadow: rgba($miss--accentprim, .4) $rollerShadow;
            background-color: $miss--accentprim;
            background: repeating-linear-gradient(0, rgba($miss--accentprim, .4) 0 10px, $bg-prim 10px 13px) !important;
            opacity:.1;
            width:100%;
            height:40%;
            animation: roll 8s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
            filter:blur(4px);
            z-index:-1;

        }
    }

    &.--opening {
        @extend .overlay;

        transition: width, $anim_fluid !important;

        & .overlay__modal {
            transition: width, height, padding, $anim_fluid var(--anim-delay);
        }
    }

    &.--closing {
        @extend .overlay;
        transition: width, $anim_fluid var(--anim-delay);

        & .overlay__modal {
            width:0;
            height: 0;
            padding: 0;

            & *, u {
                display: none;
                color: transparent;
                text-shadow: none;
            }
        }

        input[type="text"] {
            content: "";
        }
    }
}

