// ==========================
// COLORS
// ==========================
// Theme colors
$accentprim: #00FF00;            // Primary accent
$accentsec: #023a03;             // Secondary accent
$bg-prim: #000b00;               // Primary theme background
$bg-glassy: #11311d;             // Transparent background color
$glow-color: #0ecd0e;            // Glow color of text
$glow-color--select: #0a700c;    // Glow color of text on select
$danger--accentprim: #ff0000;            // Primary accent of danger status
$danger--accentsec: #3a0202;             // Secondary accent of danger status
$danger--glow-color: #cd0e0e;            // Glow color of text of danger status
$danger--glow-color--select: #700a0a;    // Glow color of text on select of danger status
$miss--accentprim: #ffffff;            // Primary accent of miss status
$miss--accentsec: #3a3a3a;             // Secondary accent of miss status
$miss--glow-color: #cbcbcb;            // Glow color of text of miss status
$miss--glow-color--select: #707070;    // Glow color of text on select of miss status

// Special-purpose colors
$bg-glassy: #11311d;           // Accent border color


// ==========================
// EFFECTS & SHADOWS
// ==========================

$sldborder: medium $accentprim solid;
$dblborder: medium $accentprim double;
$fontglow: 0px 0px 4px $glow-color;               // Standard drop shadow
$selectfontglow: 0px 0px 4px $glow-color--select; // Standard drop shadow
$danger--fontglow: 0px 0px 4px $danger--glow-color;               // Danger drop shadow
$danger--selectfontglow: 0px 0px 4px $danger--glow-color--select; // Danger drop shadow
$miss--fontglow: 0px 0px 4px $miss--glow-color;               // Miss drop shadow
$miss--selectfontglow: 0px 0px 4px $miss--glow-color--select; // Miss drop shadow

$anim_fluid: .5s cubic-bezier(0.86, 0, 0.07, 1);

// ==========================
// SIZING / SPACING / TYPOGRAPHY
// ==========================
$brdr: 12px;                 // Border radius for boxes
$xspd: 8px;                   // XS padding/margin
$spd: 16px;                   // S padding/margin
$mpd: 32px;                  // M padding/margin
$lpd: 64px;                  // L padding/margin
$xlpd: 72px;                  // L padding/margin
$xxlpd: 94px;                  // L padding/margin

$sis: 40px;                  // Standard icon size

$xxlftnts: 3rem;             // XXL font size
$xlftnts: 3rem;             // XL font size
$lftnts: 2.6rem;             // L font size
$mftnts: 2.2rem;             // M font size
$sftnts: 1.8rem;             // S font size
$xsftnts: 1.3rem;             // XS font size
$prefnts: .2rem;            // <pre> font size


$pbrdr: 8px;                 // Primary border width
$pcmaxw: 1920px;             // Page/container max width

$breakpoints: (xs: 0, sm: 600px, md: 900px, lg:1200px);

