// ==========================
// COLORS
// ==========================
// Theme colors
$accentprim: #31df31;            // Primary accent
$accentsec: #023a03;             // Secondary accent
$bg-prim: #000b00;               // Primary theme background
$bg-glassy: #11311d;             // Transparent background color
$glow-color: #0ecd0e;            // Glow color of text
$glow-color--select: #0a700c;    // Glow color of text on select
$warn--accentprim: #ffdd00;            // Primary accent of warn status
$warn--accentsec: #3a3302;             // Secondary accent of warn status
$warn--glow-color: #cdad0e;            // Glow color of text of warn status
$warn--glow-color--select: #70610a;    // Glow color of text on select of warn status
$danger--accentprim: #ff0000;            // Primary accent of danger status
$danger--accentsec: #3a0202;             // Secondary accent of danger status
$danger--glow-color: #cd0e0e;            // Glow color of text of danger status
$danger--glow-color--select: #700a0a;    // Glow color of text on select of danger status
$miss--accentprim: #ffffff;            // Primary accent of miss status
$miss--accentsec: #3a3a3a;             // Secondary accent of miss status
$miss--glow-color: #cbcbcb;            // Glow color of text of miss status
$miss--glow-color--select: #707070;    // Glow color of text on select of miss status
$sunk--accentprim: #878787;            // Primary accent of sunk status

// Special-purpose colors
$bg-glassy: #11311d;           // Accent border color


// ==========================
// EFFECTS & SHADOWS
// ==========================

$sldborder: medium solid;
$dblborder: medium double;
$dotborder: 1px dotted;
$glow: 0px 0px 2px;               // Standard drop shadow

$anim_fluid: .5s cubic-bezier(0.86, 0, 0.07, 1);

// ==========================
// SIZING / SPACING / TYPOGRAPHY
// ==========================
$brdr: 12px;                 // Border radius for boxes
$xspd: 8px;                   // XS padding/margin
$spd: 16px;                   // S padding/margin
$mpd: 32px;                  // M padding/margin
$lpd: 64px;                  // L padding/margin
$xlpd: 72px;                  // XL padding/margin
$xxlpd: 94px;                  // XXL padding/margin
$sgrid: 30px;                //  grid size
$mgrid: 35px;                //  grid size
$lgrid: 40px;                // L grid size

$sis: 40px;                  // Standard icon size

$xxlfnts: 3rem;             // XXL font size
$xlfnts: 3rem;             // XL font size
$lfnts: 2.6rem;             // L font size
$mfnts: 2.2rem;             // M font size
$sfnts: 1.6rem;             // S font size
$xsfnts: 1.2rem;             // XS font size
$xxsfnts: 1rem;
$prefnts: .2rem;            // <pre> font size


$pbrdr: 8px;                 // Primary border width
$pcmaxw: 1920px;             // Page/container max width

$breakpoints: (xs: 0, sm: 600px, md: 900px, lg:1200px, xl: 1850px);

