@use "../abstracts/" as *;

body {
    background-color: $bg-prim;
}

button, input[type="radio"] {
    position: relative;

    &:hover, & *:hover{
        cursor: pointer;
    }

}

button {
    background: none;
    @extend %button_focus;
}

li {
    list-style-type:square;
    list-style-position: inside;
}

svg {
    fill: $accentprim;
}

.--console {
    @extend %consoletext;
}

.--warn {
    color: $warn--accentprim !important;
    text-shadow: $glow $warn--glow-color !important;

    &::selection {
        color: $warn--accentsec !important;
        text-shadow: $glow $warn--glow-color--select !important;
    }

    &:checked {
        background: repeating-linear-gradient(0, rgba($warn--accentprim, .9) 0 1px, $bg-prim  2px 2px) !important;
    }

    &::after {
        border-top: $sldborder $warn--accentprim !important;
        border-right: $sldborder $warn--accentprim !important;
    }
}

.--danger {
    color: $danger--accentprim !important;
    text-shadow: $glow $danger--glow-color !important;

    &::selection {
        color: $danger--accentsec !important;
        text-shadow: $glow $danger--glow-color--select !important;
    }
    
    &:checked {
        background: repeating-linear-gradient(0, rgba($danger--accentprim, .9) 0 1px, $bg-prim  2px 2px) !important;
    }

    &::after {
        border-top: $sldborder $danger--accentprim !important;
        border-right: $sldborder $danger--accentprim !important;
    }
}

.--miss {
    color: $miss--accentprim !important;
    text-shadow: $glow $miss--glow-color !important;

    &::selection {
        color: $miss--accentsec !important;
        text-shadow: $glow $miss--glow-color--select !important;
    }
}

.--human {
    #player1 {
        & u {
            content: "Enter your name";
        }
    }
    #player2 {
        display: block;
    }

    #difficulty {
        display: none;
    }
}

.--ai {
    #player1 {
        & u {
            content: "Player one's name";
        }
    }

    #player2 {
        display: none;
    }

    #difficulty {
        display: block;
    }
}
