@use "../abstracts/" as *;

body {
    background-color: $bg-prim;
}

button {
    position: relative;

    &:hover, & *:hover{
        cursor: pointer;
    }

}

button {
    background: none;
    @extend %button_focus;
}

li {
    list-style-type:square;
    list-style-position: inside;
}

.--console {
    @extend %consoletext;
}

.--danger {
    color: $danger--accentprim;
    text-shadow: $danger--fontglow;

    &::selection {
        color: $danger--accentsec;
        text-shadow: $danger--selectfontglow
    }

}

.--miss {
    color: $miss--accentprim;
    text-shadow: $miss--fontglow;

    &::selection {
        color: $miss--accentsec;
        text-shadow: $miss--selectfontglow
    }
}
