@use "../abstracts/" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    user-drag: none;

    &::selection {
        background-color: $accentprim;
        color: $accentsec;
        text-shadow: $selectfontglow;
    }
    
}
