@use "../abstracts" as *;

:root {
    --cursor-default: "grabbing";
}

@font-face {
    font-family: "Idealist Hacker Mono";
    src: url(../assets/fonts/idealist-hacker-mono.woff);
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: "Idealist Hacker Mono", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: $accentprim;
        text-shadow: $glow $glow-color;
        line-height:1.5;
        letter-spacing: .1em;
}


h1, h2, h3, h4, h5, p, b, em, i, sub, sup, ul, ol, li, legend {
    position: relative;
    cursor: var(--cursor-default);
    user-select:text;
}

h1 {
    @include responsive(font-size, (xs:$mfnts, sm: $xlfnts, md: $xxlfnts));
    @extend %underline;
}

h2 {
    @include responsive(font-size, (xs:$xlfnts, sm: $xlfnts));
}

h3 {
    @include responsive(font-size, (xs:$xsfnts, md: $sfnts));
}

h4 {
    font-size:$mfnts;
}

h5, legend {
    @include responsive(font-size, (xs:$xxsfnts, sm: $xsfnts, md: $sfnts));
}

p, li  {
    @include responsive(font-size, (xs:$xxsfnts));
}

pre {
    font-size: $prefnts;
}

u {
    @extend %underline;
}

button {
    @include responsive(font-size, (xs:$xsfnts, sm: $xsfnts, md: $sfnts));
}